﻿@model NLayerApp.Web.Models.Book.CreateBookModel

@{
  ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CreateBookModel</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Author</label>
        <br />
        <select asp-for="AuthorId" asp-items="Model.Authors"></select>
      </div>
      <div class="form-group">
        <label class="control-label">Category</label>
        <br />
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
          </label>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
