﻿@model IEnumerable<NLayerApp.Web.Models.Book.BookModel>

@{
  ViewData["Title"] = "Index";
}

<h2>Books</h2>

<p>
  <a asp-action="Create">Create Book</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Author)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Category)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.IsDeleted)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
          @Html.ActionLink("Details", "Details", new { id = item.Id }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
      </tr>
    }
  </tbody>
</table>
