﻿@model NLayerApp.Web.Models.Account.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
  <div class="col-md-4">
    <section>
      <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h4>Use a local account to log in.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="Email"></label>
          <input asp-for="Email" class="form-control" />
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Password"></label>
          <input asp-for="Password" class="form-control" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label asp-for="RememberMe">
              <input asp-for="RememberMe" />
              @Html.DisplayNameFor(m => m.RememberMe)
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Log in</button>
        </div>
        <div class="form-group">
          <p>
            <a asp-action="ForgotPassword">Forgot your password?</a>
          </p>
          <p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
          </p>
        </div>
      </form>
    </section>
  </div>
</div>
