﻿@model NLayerApp.Web.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
  <div class="col-md-4">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" enctype="multipart/form-data" method="post">
      <h4>Create a new account.</h4>
      <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ProfilePicture"></label>
        <input asp-for="ProfilePicture" />
        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        <span asp-validation-for="FileName" class="text-danger"></span>
      </div>

      @*not yett used*@
      @*<div class="form-group"> 
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" asp-items="@(new SelectList(Model.Countries,"Id","Name"))"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
      </div>*@
      
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>
